<!-- <p>
	<b>Admin</b>	<button class="btn btn-primary" ng-click="vm.logout()" style="float: right;">Logout</button>
</p>
<br>
 -->

<div class="container">
	<div class="col-sm-2">
		<button ng-click="vm.back()" style="margin:10px;">
			<i class="fa fa-chevron-left" style="font-size:23px;"></i>
		</button>
	</div>
	
	<div class="col-sm-7">
			<h3 style="margin-top: 15px;">Welcome Leads</h3>
	</div>
	
	<div class="col-sm-3">
		<button ng-click="vm.logout()" style="margin:5px; margin-top:10px;  float: right;">
			<i class="fa fa-power-off" style="font-size:23px;"></i>
		</button>

		<button ng-click="vm.home()" style="margin:5px; margin-top:10px; float: right;">
			<i class="fa fa-home" style="font-size:23px;"></i>
		</button>
	</div>
</div>

<br>
<div>
	<br> <br> <br> <br> <br>
	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<center>
				<div class="col-md-8 col-md-offset-2">
				<button class="btn btn-default btn-block" id="defPro"
					ng-click="vm.defectprovisioning()">Defects Assignment</button>
				</div>
				<br>
				<br>
				<br>
				
				<div class="col-md-8 col-md-offset-2">
				<button class="btn btn-default btn-block" id="peoplePro"
					ng-click="vm.peopleprovisioning()">People</button>
				</div>
				
				<br>
				<br>
				<br>
				
				<div class="col-md-8 col-md-offset-2">
				<button class="btn btn-default btn-block" id="peoplePro"
					ng-click="vm.envprovisioning()">Provision Environment Details</button>
				</div>	
			</center>
		</div>
	</div>
</div>
